<template>
    <div class="container mt-4">
        <div class="row">
            <div class="col-md-5">
                <div class="card shadow">
                    <div class="card-header bg-warning p-0">
                        <img src="https://www.scb.co.th/content/dam/scb/personal-banking/stories-tips/traveling-thailand/traveling-thailand5.jpg"
                            class="card-img-top" alt="img">
                    </div>
                    <div class="card-body">
                        <p class="card-text">
                            &copy; MiniProject 2024.
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="card shadow">
                    <div class="card-header bg-info">
                        <h5 class="text-back">
                            เข้าสู่ระบบผู้ใช้งาน
                        </h5>
                    </div>
                    <div class="card-body">
                        <p class="card-text text-success">
                        <form @submit.prevent>

                            <div class="mb-2">
                                <label for="" class="form-label">อีเมลล์</label>
                                <input type="email" v-model="userForm.email" class="form-control" placeholder="อีเมลล์"
                                    required>
                            </div>
                            <span class="text-danger" v-for="error in v$.email.$errors" :key="error.$uid" v-if="true">
                                {{ error.$message }}
                            </span>

                            <div class="mb-2">
                                <label for="" class="form-label">รหัสผ่าน</label>
                                <input type="password" v-model="userForm.password" class="form-control"
                                    placeholder="รหัสผ่าน" required>
                            </div>
                            <span class="text-danger" v-for="error in v$.password.$errors" :key="error.$uid" v-if="true">
                                {{ error.$message }}
                            </span>

                            <div class="mb-2">
                                <button type="submit" @click="submitForm" class="btn btn-info btn-sm shadow">
                                    เข้าสู่ระบบสมาชิก
                                </button>
                            </div>

                        </form>
                        </p>
                        <div class="mb-2">
                            <p class="text-body text-center">
                                Allready have an account?
                                <router-link :to="{ name: 'signup' }"
                                    class="text-decoration-none font-weight-bolder">SignUp</router-link>
                            </p>
                        </div>

                        <div class="mb-2 text-center">
                            <span class="text-danger">
                                {{ errorUser.userNotFound }}
                            </span>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script setup>
import axios from 'axios'
import { reactive, computed } from 'vue';
import { required, email } from '@vuelidate/validators'
import { useVuelidate } from '@vuelidate/core'
import router from '@/router'

const state = reactive({
    name:'dashboard'
})
const userForm = reactive({
    email: "",
    password: "",
})

//Error message
const errorUser = reactive({
    userNotFound: ""
})

const rules = computed(() => {
    return {
        email: { required, email },
        password: { required }
    }
})

const v$ = useVuelidate(rules, userForm)

const submitForm = async () => {
    const result = await v$.value.$validate()
    if (result) {
        const result = await axios.get(`http://localhost:8080/user?email=${userForm.email}&password=${userForm.password}`)
        console.log(result)
        if (result.status == 200 && result.data.length > 0) {
            localStorage.setItem("user-info",JSON.stringify(result.data[0]))
            // console.log("Logged In")
            alert('Success, from submitted')
            errorUser.userNotFound = "พบผู้ใช้งาน"
            router.push(state.name)
        } else {
            // console.log("No User Found")
            alert('Error, from submitted')
            errorUser.userNotFound = "ไม่พบผู้ใช้งาน"
        }
    } else {
        alert('Error, from submitted')
    }
}


</script>

<style>
@import url('https://fonts.googleapis.com/css2?family=Sarabun&display=swap');

.form-label {
    font-family: 'Sarabun', sans-serif;
}

.btn {
    font-family: 'Sarabun', sans-serif;
}
</style>
