<template>
  <div class="container my-5">
    <div class="row">
        <div class="card shadow">
          <div class="card-header">
            <img src="https://cdn.pixabay.com/photo/2023/12/13/06/40/cat-8446390_1280.jpg" alt="" class="card-img-top">
          </div>
          <div class="card-body">
            <h5 class="card-title">
              เกี่ยวกับเรา
            </h5>
            <p class="card-text">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit praesentium deleniti vero culpa, earum, dignissimos distinctio porro quae ipsa animi, asperiores corporis quas consequatur adipisci vel officiis! Praesentium, laboriosam ipsam.
            </p>
            <a href="#" class="btn bth-primary btn-sm">read more</a>
          </div>
        </div>
    </div>
  </div>
</template>
