<script setup>
  import { toast } from 'vue3-toastify';
  import 'vue3-toastify/dist/index.css';

  toast.info("ยินดีต้นรับ สู่เว็บไซต์เที่ยวไหนดี",{
    autoClose:1500,
    position:toast.POSITION.TOP_CENTER
    })

  const notify = () => {
  toast.success("กำลังตรวจสอบ!!!", {
    autoClose: 2000,
  }); // ToastOptions
  return { notify };
  }

</script>

<template>
  <div class="container my-5">
    <div class="row">
    <!-- 1 -->
      <div class="col-md-4">
        <div class="card shadow my-5">
          <div class="card-header p-0">
            <img src="https://www.trekkingthai.com/wp-content/uploads/2014/10/20161228_170621_0045.jpg" alt="" class="card-img-top">
          </div>
          <div class="card-body">
            <h5 class="card-title">ดอยหลวงเชียงดาว - จังหวัดเชียงใหม่</h5>
            <p class="card-text">
              เป็นดอยหรือยอดเขาที่มีความสูงเป็นอันดับ 3 ของประเทศไทย รองมาจากดอยอินทนนท์และดอยผ้าห่มปก ตั้งอยู่ในเขตอำเภอเชียงดาว จังหวัดเชียงใหม่ มีความสูง 2,275 เมตร (7,136 ฟุต) จากระดับน้ำทะเล ชื่อในสมัยก่อนเรียกว่า "ดอยอ่างสลุง" ชื่อกันตามตำนานพื้นเมืองว่าเป็นสถานที่ที่สมเด็จพระสัมมาสัมพุทธเจ้า เสด็จมาพร้อมพระอรหันต์ 8 รูป ทรงลงสรงน้ำในสลุงทองคำหรือบริเวณอ่างสลุง จึงเรียกดอยแห่งนี้ว่า "ดอยหลวง" เนื่องจากเป็นดอยที่มีขนาดสูงใหญ่ ("หลวง" ในภาษาเหนือ หมายถึง "ใหญ่" ) เพี้ยนเป็น "ดอยหลวงเพียงดาว" (ดอยหลวงเปียงดาวในภาษาเหนือ) จนกลายมาเป็น "ดอยหลวงเชียงดาว" หรือ "ดอยเชียงดาว" ในปัจจุบัน
            </p>
            <a href="https://thailandtourismdirectory.go.th/th/attraction/5151" class="btn bth-primary btn-sm bi bi-calendar-check" @click="notify "> ตรวจสอบ</a>
            <a href="https://goo.gl/maps/nisiy2GLF7jLMqS5A" class="btn bth-primary btn-sm bi bi-geo-alt-fill" > ตำบลเชียงดาว อำเภอเชียงดาว จังหวัดเชียงใหม่</a>
          </div>
        </div>
      </div>
    <!-- 2 -->
    <div class="col-md-4">
        <div class="card shadow my-5">
          <div class="card-header p-0">
            <img src="https://mini-game.org/wp-content/uploads/2022/07/%E0%B8%AB%E0%B8%B4%E0%B8%99%E0%B8%AA%E0%B8%B2%E0%B8%A1%E0%B8%A7%E0%B8%B2%E0%B8%AC.jpg" alt="" class="card-img-top">
          </div>
          <div class="card-body">
            <h5 class="card-title">ภูสิงห์ (หินสามวาฬ) - จังหวัดบึงกาฬ</h5>
            <p class="card-text">
              ภูสิงห์ เป็นส่วนหนึ่งของป่าสงวนแห่งชาติป่าดงดิบกะลา ป่าภูสิงห์ และป่าดงสีชมพู อยู่ในความดูแลของกรมอุทยานแห่งชาติ สัตว์ป่า และพันธุ์พืช ตั้งอยู่ใกล้เคียงกับภูทอก มีแหล่งท่องเที่ยวที่โดดเด่นคือ หินสามวาฬ เป็นหน้าผาหินทรายขนาดใหญ่ยื่นออกไป เป็นจุดชมวิวที่มีความสวยงาม และสามาถชมทะเลหมอกยามเช้าในฤดูหนาวได้ นอกจากนี้ ยังเป็นเส้นทางเดินศึกษาธรรมชาติที่มีความอุดมสมบูรณ์และหลากหลาย ซึ่งปัจจุบันมีนักท่องเที่ยวเดินทางมาท่องเที่ยวที่ภูสิงห์เป็นจำนวนมาก
            </p>
            <a href="https://thailandtourismdirectory.go.th/th/attraction/832" class="btn bth-primary btn-sm bi bi-calendar-check" @click="notify"> ตรวจสอบ</a>
            <a href="https://maps.app.goo.gl/t3w6qvRzNDfBSwA59" class="btn bth-primary btn-sm bi bi-geo-alt-fill"> ตำบลโคกก่อง อำเภอเมืองบึงกาฬ จังหวัดบึงกาฬ</a>
          </div>
        </div>
      </div>
    <!-- 3 -->
    <div class="col-md-4">
        <div class="card shadow my-5">
          <div class="card-header p-0">
            <img src="https://www.nairobroo.com/wp-content/uploads/2018/07/B1.jpg" alt="" class="card-img-top">
          </div>
          <div class="card-body">
            <h5 class="card-title">เกาะนางยวน - จังหวัดสุราษฎ์ธานี</h5>
            <p class="card-text">
              อยู่ในเขตพื้นที่อำเภอเกาะพะงัน จังหวัดสุราษฎร์ธานี ประกอบด้วยเกาะขนาดเล็ก 3 เกาะซึ่งเชื่อมต่อกันด้วยสันทรายในลักษณะเหมือนทะเลแหวก เป็นแหล่งดำน้ำชมปะการังอีกแห่งหนึ่ง เกาะนางยวนเป็นสมบัติของกรมธนารักษ์ กระทรวงการคลัง ปัจจุบันถูกเช่าและดำเนินการโดยนางยวน ไอส์แลนด์ ไดว์ รีสอร์ท
            </p>
            <a href="https://thailandtourismdirectory.go.th/th/attraction/2111" class="btn bth-primary btn-sm bi bi-calendar-check" @click="notify "> ตรวจสอบ</a>
            <a href="https://goo.gl/maps/vQ2TQzmsui42hQMZA" class="btn bth-primary btn-sm bi bi-geo-alt-fill"> ตำบลเกาะพะงัน อำเภอเกาะพะงัน จังหวัดสุราษฎร์ธานี</a>
          </div>
        </div>
      </div>
    <!-- 4 -->
    <div class="col-md-4">
        <div class="card shadow my-5">
          <div class="card-header p-0">
            <img src="https://s.isanook.com/tr/0/ui/282/1414021/26_1548229780.jpg" alt="" class="card-img-top">
          </div>
          <div class="card-body">
            <h5 class="card-title">หลีเป๊ะ - จังหวัดสตูล</h5>
            <p class="card-text">
              เป็นเกาะกลางทะเลอยู่ในเขตตำบลเกาะสาหร่าย อำเภอเมืองสตูล จังหวัดสตูล อยู่ทางตอนใต้ของเกาะอาดัง ห่างจากแผ่นดินของจังหวัดสตูล 85 กิโลเมตร เขตอำนาจการควบคุมของอุทยานแห่งชาติหมู่เกาะตะรุเตาในจังหวัดสตูล เป็นชายหาดบนเกาะที่อุดมไปด้วยท้องทะเลที่สดใสสะอาด สวยงาม เป็นเกาะที่เงียบสงบ และมีน้ำที่ตื้นเขิน จุดเด่นของทางเกาะหลีเป๊ะ คือ ความเป็นธรรมชาติของปะการังรายล้อมรอบเกาะ มีเวิ้งอ่าวที่สวยงาม หาดทรายละเอียดนิ่มนวลขาวเหมือนแป้ง
            </p>
            <a href="https://thailandtourismdirectory.go.th/th/attraction/21107" class="btn bth-primary btn-sm bi bi-calendar-check" @click="notify "> ตรวจสอบ</a>
            <a href="https://goo.gl/maps/7RBVKxYsjy99cnYQA" class="btn bth-primary btn-sm bi bi-geo-alt-fill"> ตำบลเกาะสาหร่าย อำเภอเมือง จังหวัดสตูล</a>
          </div>
        </div>
      </div>
    <!-- 5 -->
    <div class="col-md-4">
        <div class="card shadow my-5">
          <div class="card-header p-0">
            <img src="https://www.real-phukettour.com/wp-content/uploads/2021/09/a97298ed-a2ea-4345-a6ea-fc743786fc71.jpg" alt="" class="card-img-top">
          </div>
          <div class="card-body">
            <h5 class="card-title">เสม็ดนางชี - จังหวัดพังงา</h5>
            <p class="card-text">
              เป็นอีกหนึ่งสถานที่ท่องเที่ยวของพังงา ที่แอดบอกได้เลยว่าธรรมชาติมาก วิวทิวทัศน์หลักล้าน บรรยากาศดีมาก เงียบสงบ เป็นอีกหนึ่ง จุดชมวิวเสม็ดนางชี ที่บอกได้เลยว่าใครผ่านไปผ่านมาก็ต้องแวะมาดูวิวที่นี่เพราะเป็นสถานที่ท่องเที่ยวที่นักท่องเที่ยวนิยมมาดูวิวกัน ใกล้เข้าสู่ช่วงเทศกาลปีใหม่แล้วใครมองหาสถานที่ท่องเที่ยวธรรมชาติ Unseen บอกเลยว่าต้องมาที่นี่ทุกคน พาครอบครัวมาเที่ยวสถานที่ท่องเที่ยวธรรมชาติในช่วงวันหยุดยาวกันดีกว่า
            </p>
            <a href="https://thailandtourismdirectory.go.th/th/attraction/1081" class="btn bth-primary btn-sm bi bi-calendar-check" @click="notify "> ตรวจสอบ</a>
            <a href="https://goo.gl/maps/S4xjBqyRx5UggTWq5" class="btn bth-primary btn-sm bi bi-geo-alt-fill"> คลองเคียน อำเภอตะกั่วทุ่ง จังหวัดพังงา</a>
          </div>
        </div>
      </div>
    <!-- 6 -->
    <div class="col-md-4">
        <div class="card shadow my-5">
          <div class="card-header p-0">
            <img src="https://www.egat.co.th/home/wp-content/uploads/2021/09/%E0%B9%80%E0%B8%82%E0%B8%B7%E0%B9%88%E0%B8%AD%E0%B8%99%E0%B8%A3%E0%B8%B1%E0%B8%8A%E0%B8%8A%E0%B8%9B%E0%B8%A3%E0%B8%B0%E0%B8%A0%E0%B8%B28-scaled.jpg" alt="" class="card-img-top">
          </div>
          <div class="card-body">
            <h5 class="card-title">เขื่อนรัชชประภา - จังหวัดสุราษฎ์ธานี</h5>
            <p class="card-text">
              มีชื่อเรียกดั้งเดิมว่า เขื่อนเชี่ยวหลาน เป็นเขื่อนอเนกประสงค์แห่งที่สองของภาคใต้ อยู่ในจังหวัดสุราษฎร์ธานี เมื่อก่อนสร้างแล้วเสร็จได้รับพระมหากรุณาธิคุณจากพระบาทสมเด็จพระบรมชนกาธิเบศร มหาภูมิพลอดุลยเดชมหาราช บรมนาถบพิตร พระราชทานนามให้ใหม่ว่า “เขื่อนรัชชประภา” มีความหมายว่า “แสงสว่างแห่งราชอาณาจักร”
            </p>
            <a href="https://thailandtourismdirectory.go.th/th/attraction/1603" class="btn bth-primary btn-sm bi bi-calendar-check" @click="notify "> ตรวจสอบ</a>
            <a href="https://goo.gl/maps/bFimZ5gFcWZ2PZV78" class="btn bth-primary btn-sm bi bi-geo-alt-fill"> ตำบลเขาพัง อำเภอบ้านตาขุน จังหวัดสุราษฎร์ธานี</a>
          </div>
        </div>
      </div>
    </div>
  </div>  
</template>

<!-- <style>
  .container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2rem;
}
.img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}
/* @media screen and (max-width: 400px) {
  .container {
    grid-template-columns: 1fr;
    grid-gap: 0;
  }
} */
  
</style> -->
