<script setup>
import signUpVue from "@/components/signUp/signUp.vue";
</script>

<template>
    <div class="container">
        <signUpVue />
    </div>
</template>


<style lang="scss" scoped>

</style>