<script setup>
import NavBarView from './NavBarView.vue'
import FooterView from './FooterView.vue';
</script>

<template>
    <NavBarView />
    <RouterView />
    <FooterView />
</template>

<style lang="scss" scoped>
</style>
