<script scoped>
import { RouterLink } from 'vue-router';
</script>

<template>
    <nav class="navbar navbar-expand-lg nabar-dark shadow stickey-top" style="background: #34c2c7;">
        <div class="container">
            <router-link :to="{ name: 'home' }" class="navbar-brand text-white">เที่ยวใหนดี</router-link>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <!-- <li class="nav-item">
                        <router-link :to="{ name: 'home' }" class="nav-link active text-white" aria-current="page"
                            href="#">สถานที่ท่องเที่ยว</router-link>
                    </li>

                    <li class="nav-item">
                        <router-link :to="{ name: 'about' }" class="nav-link text-white" href="#">เกี่ยวกับเรา</router-link>
                    </li> -->

                    <!-- <li class="nav-item">
                        <router-link :to="{ name: 'signup' }" class="nav-link text-white" href="#">ลงทะเบียน</router-link>
                    </li> -->

                    <!-- <li class="nav-item">
                        <router-link :to="{ name: 'signin' }" class="nav-link text-white" href="#">เข้าสู่ระบบ</router-link>
                    </li> -->
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle text-white " href="#" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            เว็บที่เกี่ยวข้อง
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="https://chillpainai.com/scoop/10686" target="_blank">ชิลไปไหน</a></li>
                            <li><a class="dropdown-item" href="https://thailandtourismdirectory.go.th/" target="_blank">Thailand Tourism Directory</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="https://gitlab.com/phakkharaphon/mini-project-week16-22566" target="_blank">Code</a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle text-white bi bi-box-arrow-in-right " href="#" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                        </a>
                        <ul class="dropdown-menu">
                        <li class="nav-item">
                        <router-link :to="{ name: 'signin' }" class="nav-link dropdown-item" href="#">เข้าสู่ระบบ</router-link>
                        </li>
                        <li class="nav-item">
                        <router-link :to="{ name: 'signup' }" class="nav-link dropdown-item" href="#">ลงทะเบียน</router-link>
                    </li>
                    </ul>
                    </li>


                    <!-- <li class="nav-item">
                        <router-link to="" class="nav-link text-white" aria-disabled="true" href="#">แผนที่</router-link>
                    </li> -->
                </ul>
            </div>
        </div>
    </nav>
</template>

<style>
@import url('https://fonts.googleapis.com/css2?family=Sarabun&display=swap');

.navbar {
    font-family: 'Sarabun', sans-serif;
}
</style>
